# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Playwright screenshots
screenshots/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# Logs
*.log