# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Playwright
playwright/.cache/

# Screenshots
screenshots/

# Logs
logs/
*.log

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/